    {# src/KrischVard/WorkshopBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
    Oldal elem
{% endblock %}
    
{% block body %}
    <div>Telefon: 06 30 555 5555</div>
    <div>Telephely cím: 2500 Esztergom Táti út 12.</div>
    <div>Email: krisch.card@invitel.hu</mailto>></div>
    <iframe width="625" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            src="https://maps.google.hu/maps?f=q&amp;source=s_q&amp;hl=hu&amp;geocode=&amp;q=Esztergom,+T%C3%A1ti+%C3%BAt+30&amp;aq=t&amp;sll=47.780467,18.734014&amp;sspn=0.012213,0.033023&amp;t=m&amp;g=Esztergom,+T%C3%A1ti+%C3%BAt+30&amp;ie=UTF8&amp;hq=&amp;hnear=2500+Esztergom,+T%C3%A1ti+%C3%BAt+30&amp;ll=47.780467,18.734014&amp;spn=0.012213,0.033023&amp;z=14&amp;output=embed"></iframe>
    <br /><small><a href="https://maps.google.hu/maps?f=q&amp;source=embed&amp;hl=hu&amp;geocode=&amp;q=Esztergom,+T%C3%A1ti+%C3%BAt+30&amp;aq=t&amp;sll=47.780467,18.734014&amp;sspn=0.012213,0.033023&amp;t=m&amp;g=Esztergom,+T%C3%A1ti+%C3%BAt+30&amp;ie=UTF8&amp;hq=&amp;hnear=2500+Esztergom,+T%C3%A1ti+%C3%BAt+30&amp;ll=47.780467,18.734014&amp;spn=0.012213,0.033023&amp;z=14" style="color:#0000FF;text-align:left">Nagyobb térképre váltás</a></small>
{% endblock %}