    {# src/KrischVard/WorkshopBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block sidebar %}
    Oldal elem
{% endblock %}
    
{% block body %}
    <div>Telefon: 06 30 555 5555</div>
    <div>Telephely cím: 2500 Esztergom Táti út 12.</div>
    <div>Email: krisch.card@invitel.hu</mailto>></div>
{% endblock %}